@font-face {
  font-family: Montserrat;
  src: url('../fonts/montserrat-extra-light.woff');
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: Montserrat;
  src: url('../fonts/montserrat-light.woff');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: Montserrat;
  src: url('../fonts/montserrat-regular.woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Raleway;
  src: url('../fonts/raleway-regular.woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Raleway;
  src: url('../fonts/raleway-medium.woff');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: Raleway;
  src: url('../fonts/raleway-semi-bold.woff');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: Raleway;
  src: url('../fonts/raleway-bold.woff');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: Raleway;
  src: url('../fonts/raleway-extra-bold.woff');
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: Roboto;
  src: url('../fonts/roboto-regular.woff');
  font-weight: 400;
  font-style: normal;
}
body {
  margin: 0 0 0 0;
}
.body-container {
  width: 1920px;
  margin: 0 auto;
}
.header {
  height: 1024px;
  background-image: url("../img/header-photo.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: relative;
}
.header-shadow-container {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.header-logo {
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 200px;
  position: absolute;
  top: 40px;
  left: 376px;
  color: white;
}
.header-logo-txt {
  font-family: Raleway, Verdana, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 34px;
  letter-spacing: -1.36px;
}
#header-logo-svg-id {
  fill: white;
}
.header-logo:hover #header-logo-svg-id {
  fill: navajowhite;
}
.header-logo:hover .header-logo-txt {
  color: navajowhite;
}
.header-top-bar {
  margin-top: 55px;
  margin-left: 776px;
  display: flex;
  align-items: center;
}
.header-nav-item {
  font-family: Montserrat, Verdana, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 14px;
  color: #ffffff;
  text-decoration: none;
  margin-left: 25px;
}
.header-nav-item:nth-child(1) {
  margin-left: 0px;
}
.header-nav-item:hover {
  color: #c7b299;
}
.header-bin-button {
  background-color: transparent;
  border: none;
  margin-left: 60px;
}
.header-bin-button:focus {
  outline: none;
}
#header-bin-svg-id {
  fill: white;
}
.header-bin-button:hover #header-bin-svg-id {
  fill: #c7b299;
}
.header-input-search {
  width: 30px;
  height: 30px;
  outline: none;
  border: 1px solid transparent;
  background-image: url("../img/icon-search-white.svg");
  background-position: right;
  background-repeat: no-repeat;
  background-color: transparent;
  font-size: 20px;
}
.header-input-search:hover {
  background-image: url("../img/icon-search-hover.svg");
}
.header-input-search:focus {
  border: 1px solid gray;
  background-color: lightpink;
  background-image: url("../img/icon-search-focus.svg");
  padding-right: 30px;
  width: 300px;
  transition: width 1s ease-out;
}
.header-input-search::-ms-clear {
  display: none;
}
.header-input-search::-webkit-search-cancel-button {
  display: none;
}
.header-carousel {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-carousel-row-left {
  margin-left: 150px;
}
.header-carousel-row-right {
  margin-right: 150px;
}
.header-carousel-row-left-svg,
.header-carousel-row-right-svg {
  opacity: 0.5;
  fill: #fff;
}
.header-carousel-row-left:hover .header-carousel-row-left-svg,
.header-carousel-row-right:hover .header-carousel-row-right-svg {
  opacity: 1;
  fill: #d3c1ad;
}
.header-carousel-container {
  text-align: center;
}
.header-carousel-title1 {
  display: block;
  font-family: Raleway, Verdana, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 36px;
  color: #ffffff;
}
.header-carousel-title2 {
  display: block;
  font-family: Raleway, Verdana, sans-serif;
  font-weight: 800;
  font-style: normal;
  font-size: 52px;
  color: #ffffff;
}
.header-carousel-txt {
  display: block;
  margin: 0 auto 52px auto;
  width: 580px;
  font-family: Montserrat, Verdana, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
}
.header-carousel-ref-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 53px;
  margin: 0 auto;
  text-transform: uppercase;
  text-decoration: none;
  font-family: Raleway, Verdana, sans-serif;
  font-weight: 800;
  font-style: normal;
  font-size: 14px;
  color: #ffffff;
  background-color: #998675;
  border-radius: 10px;
  box-shadow: 0px 4px 0px 0px #736357;
}
.header-carousel-ref-button:hover {
  background-color: #888664;
}
.header-carousel-ref-button:active {
  box-shadow: 0px 2px 0px 0px #736357;
  transform: translateY(2px);
}
.header-pagination {
  min-height: 50px;
  width: 140px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.header-pagination-item {
  width: 11px;
  height: 11px;
  background-color: #8e8f91;
  border-radius: 50%;
  border: 2px solid transparent;
}
.header-pagination-item:hover {
  background-color: transparent;
  border: 2px solid #8e8f91;
  transform: scale(1.2);
}
.block2 {
  background-color: white;
  padding: 80px 0 80px 0;
  display: flex;
  justify-content: center;
}
.block2-item {
  width: 280px;
  margin-left: 33px;
  text-align: center;
}
.block2-item:nth-child(1) {
  margin-left: 0;
}
.block2-item:after {
  content: "";
  display: block;
  width: 70px;
  height: 3px;
  background-color: #f1eee9;
  margin: 0 auto;
}
.block2-item-title {
  display: block;
  font-family: Raleway, Verdana, sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 22px;
  color: #555555;
  margin-top: 29px;
}
.block2-item-txt {
  font-family: Montserrat, Verdana, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 14px;
  line-height: 24px;
  color: #8c8c8c;
  margin: 19px 0 33px 0;
}
.block2-item-svg {
  fill: #555;
}
.block2-item:hover .block2-item-svg {
  fill: #c7b299;
}
.block2-item:hover .block2-item-title {
  color: #c7b299;
}
.block2-item:hover:after {
  background-color: #c7b299;
}
